<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_head.ejs') %>
    <title>Quote Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/_header.ejs') %>
    <div class="container mt-5">
        <h1><%= quote.title %></h1>
        <h2>Current Status: <%= quote.status %></h2>
        <hr>
        <p class="section-title">Client Information</p>
        <p><b>Client Name:</b> <%= quote.clientName %></p>
        <p><b>Phone:</b> <%= quote.clientId?.phoneNumber ?? 'N/A' %></p>
        <p><b>Email:</b> <%= quote.clientId?.email ?? 'N/A' %></p>
        <p><b>Address:</b> <%= quote.clientId?.streetAddress ?? 'N/A' %>, <%= quote.clientId?.city ?? '' %>, <%= quote.clientId?.state ?? '' %> <%= quote.clientId?.zip ?? '' %></p>

        <% if (quote.scopeOfWork) { %>
            <hr>
            <p class="section-title">Scope of Work</p>
            <p><%= quote.scopeOfWork %></p>
        <% } %>

        <hr>
        <p class="section-title">Service Type</p>
        <p><%= quote.serviceType %></p>
        
        <% if (quote.frequency) { %>
            <p>Frequency: <%= quote.frequency %></p>
        <% } %>

        <% if (quote.initialCleaningOptions && quote.initialCleaningOptions.length > 0) { %>
            <hr>
            <p class="section-title">Initial Cleaning Options</p>
            <p><%= quote.initialCleaningOptions.join(', ') %></p>
        <% } %>
        
        <% if (quote.attachments && quote.attachments.length > 0) { %>
            <hr>
            <p class="section-title">Attachments</p>
            <ul>
                <% quote.attachments.forEach(function(attachment) { %>
                    <li>
                        <a href="/uploads/<%= attachment.savedFilename %>" target="_blank"><%= attachment.originalFilename || 'Unnamed File' %></a>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No attachments available.</p>
        <% } %>

        <% if (quote.contracts && quote.contracts.length > 0) { %>
            <hr>
            <p class="section-title">Contracts</p>
            <ul>
                <% quote.contracts.forEach(function(contract) { %>
                    <li>
                        <a href="/uploads/<%= contract.savedFilename %>" target="_blank"><%= contract.originalFilename %></a>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No contracts available.</p>
        <% } %>

        <% if (quote.serviceItems && quote.serviceItems.length > 0) { %>
            <hr>
            <p class="section-title">Line Items</p>
            <table class="line-items-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <% quote.serviceItems.forEach(function(serviceItem) { %>
                        <tr>
                            <td><%= serviceItem.serviceItemId.name %><br><span class="line-item-description">($<%= serviceItem.customPrice ? serviceItem.customPrice.toFixed(2) : serviceItem.serviceItemId.price.toFixed(2) %> ea) x <%= serviceItem.quantity %></span></td>
                            <td><%= serviceItem.serviceItemId.description %></td>
                            <td>$<%= (serviceItem.quantity * (serviceItem.customPrice || serviceItem.serviceItemId.price)).toFixed(2) %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } %>

        <div class="pricing-and-buttons">
            <div class="pricing-details">
                <p>Subtotal: <span>$<%= quote.subtotal?.toFixed(2) || '0.00' %></span></p>
                <p>Tax Rate: <span><%= quote.taxRate || '0' %>%</span></p>
                <p>Total: <span>$<%= quote.total?.toFixed(2) || '0.00' %></span></p>
            </div>

            <div class="button-group">
                <a href="/quotes/<%= quote._id %>/edit" class="btn btn-custom-primary">Edit</a>
                <a href="/quotes" class="btn btn-custom-secondary">Back</a>
            </div>
        </div>
    </div>
    <%- include('partials/_footer.ejs') %>
    <script src="/js/clientSearch.js"></script>
</body>
</html>
